[2020-08-01 18:30] ZV00 opened #1 "Feature Request: Version Number"
It would be great if Aerial Updater displayed a version number in the menu. Perhaps placing it next to the words "Aerial Updater" at the top of the menu?

[2020-08-03 01:03] ZV00 opened #2 "Feature Request: Release Notes"
Hey @glouel

Was thinking some further thoughts today and realized it would be awesome to have the ability to easily access the latest release notes from Aerial Updater. This may be more of a "pro user" type feature, but I know I would find it very helpful.

Thanks!

[2020-08-03 08:49] glouel commented on #2
Agreed. Short term I can open them in a browser, there may be a better way to do this to grab them and put them in a system notification for example, I'll investigate !

[2020-08-03 08:53] glouel commented on #1
Yeah it definitely needs to be somewhere in there.

One thing I added in 0.4 is that I can ask you to upgrade the Updater (pointing you to the last release) from the manifest, in case there's a big bug fix or something. Hopefully when it's feature complete, there won't be a need to update it, or maybe once a year or two, that's what I'm shooting for right now !

[2020-08-03 20:06] glouel commented on #1
So I haven't made a new release yet (see the discord) but I made an about box for the updater that brings the version number:

![Capture d’écran 2020-08-03 à 22 01 43](https://user-images.githubusercontent.com/37544189/89222329-25f84780-d5d5-11ea-832d-62a53400cff8.png)

It's in the new Settings submenu, that also have the two new very wanted options, launch at startup and in the background:

![Cap

[2020-08-12 19:29] jake01756 opened #3 "Spelling Error in the about menu."
It should be *developed*, not *developped*.

Screenshot:
![about window](https://user-images.githubusercontent.com/28026633/90058861-451b6700-dcb0-11ea-8a18-6d3b03a84603.png)

[2020-08-18 08:41] glouel commented on #1
This is fixed

![Capture d’écran 2020-08-18 à 10 39 11](https://user-images.githubusercontent.com/37544189/90490774-53013a00-e13f-11ea-8161-65f26c9c9100.jpg)

[2020-08-18 08:41] #1 closed

[2020-08-18 08:43] glouel commented on #3
Hi @jake01756

Sorry for the late reply, thanks for the report I fixed it for next build which will be out later today.

[2020-08-18 23:22] jake01756 commented on #3
Ok thanks. I'll close the issue.

[2020-08-18 23:22] #3 closed

[2020-08-20 19:37] SamTheGeek opened #4 "Installation Error "Could not copy .saver""
When attempting to install the screen saver I repeatedly receive an error that it can't be copied.

<img width="420" alt="Screen Shot 2020-08-20 at 3 32 00 PM" src="https://user-images.githubusercontent.com/2694459/90816482-58ef4a80-e2fa-11ea-914f-dfdc2db2377b.png">

[2020-08-21 23:44] stevehoek opened #7 "Need to keep manifest.json up to date"
It is lagging behind ... 2.0.2 of Saver was just released, but Companion was not updated.
Suggest the tool use the GitHub release feed to determine latest version so you don't have to keep updating this manifest file everytime you update Saver

[2020-08-23 01:40] Eric-in-Hong-Kong opened #9 "Random sequence and stuttering 4K videos"
Hi Guillaume,

really like your new companion app - works well, easy to use and looks good! Using the latest 2.0.2 and also downloaded / cached my favourite rotation (~37 videos in 4K HEVC format). However, I noticed a couple of things

- I often keep seeing the same handful of videos when the screensaver starts. Could there be an issue with the random generator?
- I chose 4K HEVC which looks grea

[2020-08-23 06:04] jgiblin1 opened #10 "fan speed, CPU consumption"
Hi Guillaume,

Love this app. Recently noticed very high fan speeds since updating to 2.02. Of note, I'm running on mid 2012 MacBook Air which is likely culprit, though seemed fine prior to update. Tried to set cache limit at 4GB, running vids at 1080p H264. Anything else you'd recommend, aside from getting a new computer of course

Thanks

[2020-08-25 09:19] Eric-in-Hong-Kong commented on #9
Many thanks!! I turned off automatic download and just downloaded my rotation (eg Scene - Nature). It seems to mix it up better now.

On the stuttering: even after I downloaded the whole rotation, my (late 2014) Mac mini just doesn't seem able to process anything beyond 1080p H264 despite 8GB RAM and SSD, which is a pity. The 4K video obviously look sharper on my big screen, but I can't get them t

[2020-08-25 09:19] #9 closed

[2020-08-27 18:12] eric-schneider opened #11 "Feature Request: Aerial Companion Updater"
Aerial Companion is _very_ good at updating [Aerial](https://github.com/JohnCoates/Aerial/), but not so good at updating itself! 😉 It would be great if Aerial Companion had options for automatically/manually checking for its own updates, and then install them just as easily as the Aerial screen saver updates.

[2020-08-27 18:13] ZV00 commented on #11
Hey @eric-schneider,

This is a suggestion that's been brought up a number of times. There are some complexities with it, but it's being seriously considered by @glouel.

[2020-08-27 18:56] glouel commented on #10
Hi @jgiblin1

Please try 2.0.5 I think I fixed a performance issue there. Please let me know!

[2020-08-27 18:56] #7 closed

[2020-08-27 18:57] #4 closed

[2020-08-27 20:19] jgiblin1 commented on #10
It works perfectly! Thank you!

[2020-08-27 20:22] glouel commented on #10
Thanks for confirming and apologies for not answering earlier looks like I mistakenly un watched my own repository 🙈

[2020-08-27 20:28] #10 closed

[2020-08-30 20:37] inferno-adam opened #12 "Feature Request: Dark mode menu bar icon"
First of all, thank you so much for making this app! It's a huge timesaver for me. My request is for a dark mode (white) menu bar icon. I was thinking at rest, it could be all white and then when an update is available, show some color. I would be more than happy to help with the design for this if you'd like.

[2020-08-30 21:58] glouel commented on #12
Hey there!

I'm teeeeerrible at design so I definitely, definitely welcome any bit of help!

I don't know if you've seen Big Sur yet but Apple went with lines (or quite probably, SF Symbols):

<img width="288" alt="Capture d’écran 2020-08-30 à 23 55 37" src="https://user-images.githubusercontent.com/37544189/91670288-4f48bc80-eb1c-11ea-8b20-6baccce4ea75.png">

Those get white or black depending on

[2020-08-30 22:06] inferno-adam commented on #12
I'm happy to help! I'm running Big Sur on my laptop and think we can match the style. I'll look into the specs and make sure to follow them.

[2020-08-31 12:29] glouel commented on #11
@eric-schneider just to give a bit of feedback, when I started designing the companion, I thought people were going to hate the idea and wouldn't pick it up. And if they did they wouldn't want to update it. I've been super wrong on both counts !

So what's in right now, is a force update function that I never used. Basically, for security purpose, I can force you to download a new version of compa

[2020-08-31 17:10] eric-schneider commented on #11
@glouel Well, I think the app is super helpful and a pleasure to use. No wonder it's so popular!

I think the force update function you describe should work in the near-term to accommodate major changes in Aerial or if vulnerabilities are discovered in Aerial Companion.

But yes, if more and more useful enhancements are made to Aerial Companion, it would make sense to add Sparkle. Having Sparkle u

[2020-08-31 17:15] glouel commented on #11
@eric-schneider thanks ! Based on feedback I'm adding more and more features (though it's not released yet) like running in a window/wallpaper and things of the sort.

<img width="485" alt="Capture d’écran 2020-08-30 à 12 49 19" src="https://user-images.githubusercontent.com/37544189/91747193-0c3f2580-ebbe-11ea-9217-e2e6c3c218ad.png">

Still have a few bugs to iron out there as I had to go back to

[2020-09-16 20:54] inferno-adam commented on #12
@glouel I'm still working on this. I didn't want you to thing I forgot or bailed on you.

[2020-09-16 20:56] glouel commented on #12
@inferno-adam no worries ! Thanks for the update but take your time !

[2020-09-16 21:26] inferno-adam commented on #12
@glouel would it be possible to email you instead? Much easier for me to share files and stuff. My email address is ahenriksen[at]infernodesign[dot]com.

[2020-09-28 13:26] alexpersian opened #13 "Feature Request: Hide Menubar Icon"
First off, love this program. I've been using it for years and love that the support has continued. Thank you!

With the new Aerial Updater I noticed it adds a menubar icon for quick access. For the life of me I wasn't able to find an option for hiding that icon within the settings though. Would it be possible to add that functionality?

[2020-09-28 13:35] ZV00 commented on #13
Hey @alexpersian,

This guide will walk you through how to run it in the background and get it out of your menu bar: https://aerialscreensaver.github.io/faq.html#AerialCompanion

[2020-09-28 14:42] alexpersian commented on #13
Ahh I see. I had that option selected but must have to go through a restart cycle for it to take effect.

![image](https://user-images.githubusercontent.com/5446451/94446929-3f51e600-0177-11eb-85b9-469a77d11b75.png)

[2020-09-28 14:43] glouel commented on #13
Yep or just quitting, you should be fine now !

[2020-09-28 14:43] ZV00 commented on #13
No worries! Glad it is working for you now!

[2020-09-28 15:00] alexpersian commented on #13
Appreciate the help. I'll close this issue.

[2020-09-28 15:00] #13 closed

[2020-09-29 00:09] KevinGutowski opened #14 ""New updater version" Typo"
Little typo in the updater

![CleanShot 2020-09-28 at 17 08 38](https://user-images.githubusercontent.com/4199296/94497862-57dcf300-01ad-11eb-8b96-04e8518de347.png)

Probably should be "new updated version"

[2020-09-29 00:23] KevinGutowski commented on #14
lol I think this got fixed after updating

[2020-09-29 00:23] #14 closed

[2020-09-29 02:13] name99-org opened #15 "Screensaver flat out doesn't work on iMac Pro"
Just FYI the current version (Installer 1.1, ScreenSaver 2.1.0) just doesn't work on an iMac Pro running Mojave 10.14.6
The screensaver does not launch when the machine is quiescent, and when you Open Preferences/Desktop&Screensaver/ScreenSaver and pick Aerial, the window goes grey and nothing is display.

Aerial used to work on this machine/OS, up till maybe 3 or 4 months ago. I can't be sure exa

[2020-09-29 02:15] ZV00 commented on #15
Hey @name99-org,

This is a known issue that is outside the control of @glouel, it has to do with a 10.14.6 security patch that was released that broke *all* screen savers. You can find additional details on this issue here: https://github.com/JohnCoates/Aerial/issues/1107

[2020-10-01 11:42] MarcelProust commented on #15
I have this issue on a late 2015 iMac running 10.14.6. Presume @ZV100 means the patch ‘broke all _third party_ screensavers’?

Runs fine on the execrable Catalina.

[2020-10-01 11:56] glouel commented on #15
Yep exactly, Apple pulled their patches yesterday, see this thread here for more info : https://github.com/JohnCoates/Aerial/issues/1107

https://mrmacintosh.com/mojave-2020-005-security-update-causing-major-problems-updated/

[2020-10-02 09:16] banjaxxer opened #16 "Can't stop full screen playback mode on desktop"
When going through the installation steps the panel that allows me to choose video formats has an expand button to full screen.  This helps the user decide on the video resolution choice for the display in use.  However once this starts you have a live desktop and there is no obvious way to turn it off.

[2020-10-02 09:21] glouel commented on #16
Bottom right corner if I remember correctly ? I thought I had a tooltip in there but maybe this can be improved I’ll check when I have a sec.

[2020-10-02 09:27] banjaxxer commented on #16
Just got a new Mac and this happened last time.  I think I had to reboot - can't find the process in activity monitor.  Definitely no icon bottom right that I can see.  Video playback has stopped at the end of the video.  Opened the Mac to get two screens (I use ultra wide display) and no icons on either screen bottom right.

[2020-10-02 09:30] glouel commented on #16
I think you have to hover there for it to show ? That or there’s something else wrong I’ll try and have a look. You are running catalina or Big Sur ?

[2020-10-02 09:35] banjaxxer commented on #16
Catalina.   I think I also tried going back into the setup app and then closing that didn't stop it either.  Just re-booted now to clear it.

[2020-10-02 09:36] banjaxxer commented on #16
Is it intended to be like a live desktop - if not then I think the icon should always be visible :-)

[2020-10-02 11:05] glouel commented on #16
Guess I'm a bit confused a bit by what happened to you.

First, in order to get into fullscreen you have to actually press the arrow thing, there's a tooltip that explains this :

<img width="912" alt="Capture d’écran 2020-10-02 à 12 58 21" src="https://user-images.githubusercontent.com/37544189/94916438-f9668c00-04ae-11eb-8dbf-afc04258ab31.png">

And when the video plays for the first time, the c

[2020-10-02 11:16] banjaxxer commented on #16
Yes - I pressed the expand button in the first screen shot to see what the videos looked like in fullscreen.
 Imagine your second screenshot with the dock superimposed on the left side (I like the dock on the left because I have a ultra-wide display)  and no playback controls at all on the bottom just video.  The video is playing underneath the dock and no other apps are visible as though the vide

[2020-10-02 11:22] banjaxxer commented on #16
I found the button to relaunch the setup and here it is.
![IMG_4610](https://user-images.githubusercontent.com/51365183/94918053-b0f89f80-04a9-11eb-9353-46da81c7c985.jpeg)
Force quitting the legacy screen saver service stops it.  Didn't see that last time.  Confirmed no mouse movement at the bottom renders the QT menu bar

[2020-10-02 11:24] glouel commented on #16
Ok this is starting to make a bit more sense to me, sorry I still haven't had enough coffee this morning.

That's... very not normal

Mine is left too ;)

Understood, at that point I'm not sure what exactly happened to you but I see why you were stuck. Just to be clear, I do have an always on dock too and when the video goes into fullscreen, it should just to that and you should have not seen the

[2020-10-02 11:26] glouel commented on #16
Thanks for the screenshot, makes a lot more sense now and I confirm that's very not what you should have experienced, sorry about that.

At that point I'm not sure what causes this, if this is specific to your wide screen setup or not. I'm using the standard quicktime controls and they shouldn't really do that, but that's not very helpful to say. I'm a bit puzzled on this one but I'll try to think

[2020-10-02 11:27] banjaxxer commented on #16
No I haven't had time to go to 10.15.7 yet as this is a work Mac and I had to get everything moved over and back to work asap.  10.15.6 right now.

[2020-10-02 11:28] glouel commented on #16
Ok I suggest you try again later on with 10.5.7 when you have a second, I've had weird reports of Macs misbehaving "out of the box" until the first reboot or until the patch install.

[2020-10-05 09:24] banjaxxer commented on #16
10.5.7 install makes no difference.  I managed to find the setting to re-start setup from Aerial Companion and ran it again.
I clicked around at the bottom of the screen and got the setup screen to come into focus, which had the video preview missing - all black in the centre of the screen.  I then used cmd-alt-shift-esc to kill it.

Now I can't find the option to re-run set-up in the aerial compa

[2020-10-05 10:35] glouel commented on #16
Hey @banjaxxer !

Sorry about that, looks like there may be something specific to how AVPlayer's fullscreen mode works (or doesn't work) on your screen. At that point there's not much I can do to troubleshoot you short of trying to replicate with a minimal sample and send that to Apple.

This may require a couple of back and forth between you and me in the next few days (I may not have time to wor

[2020-11-17 22:19] TedTschopp commented on #12
Here is something I whacked together.  I don't know how good it will look as I can't get it running on my machine.  I'll try more when I have more time.

[Icons.zip](https://github.com/glouel/AerialCompanion/files/5556547/Icons.zip)

[2020-11-22 10:57] bondskin opened #17 "4k HEVC ok, but HDR makes the MacBook Air fan spin up"
All,

not sure if this is considered a bug.
My config:
MacBook Air (Retina, 13 Zoll, 2020)
Processor: 1,2 GHz Quad-Core Intel Core i7
Memory: 8 GB 3733 MHz LPDDR4X

Using HEVC videos does not let my fan start while videos are being played.
Choosing the 4k HDR option makes the fan to start.

Is this known or any chance to prevent this?

thx

[2020-11-22 13:32] glouel commented on #17
Hey @bondskin

The HDR videos are encoded thru Dolby Vision by Apple, and that decoding is pretty taxing on the GPU (which is not great on Intel) so that makes the fan spins. You can double check by opening a HDR video from Aerial's cache in Quicktime, you should see the same results.

So not much I can do about that one sorry, I'd recommend running HDR off on pre Apple Silicon MacBook Airs.

[2020-11-22 13:33] glouel commented on #15
This has been fixed for a while and I forgot to close this sorry ;)

[2020-11-22 13:33] #15 closed

[2020-11-22 14:08] bondskin commented on #17
thank you for your swift reply, much appreciated.
And Thank You for your great work!

[2020-11-22 14:08] #17 closed

[2020-11-26 03:08] taw123 opened #18 "Aerial Updater crashes during update (in trust evaluation)"
Attached at the crash report and corresponding console messages (filtered for Aerial).

Seems so be failing with at an OS level with a security error **UNIX error exception: 17** which is resulting in a the updater crashing with a Termination Signal:    **Illegal instruction: 4** Termination Reason:    Namespace SIGNAL, Code 0x4  Terminating Process:   exc handler [22322].

I have repeatedly downl

[2020-11-26 03:17] ZV00 commented on #18
Just going to tag @glouel To make sure he sees this one.

[2020-11-26 13:15] glouel commented on #18
Hey Tom !

Sorry about that and thanks for the report. Can you look in ~/Library/Application Support/AerialUpdater/ for a Log.txt file ? This may give me a clue.

Just to get more context, did you have a version of Aerial (the screensaver) installed already ? And this happened when you were notified of an update ? Or is this a fresh install when this happened when launching the companion (and it c

[2020-12-01 09:50] yohannes opened #19 "Aerial Companion displays blank screen when running Aerial on a specific monitor"
Running v1.2 with Aerial 2.2.1 on MacOS 11.0.1.

I notice that AC takes up memory over time (over 1GB in average) presumably as it downloads / caches contents but nothing is being shown on screen. It's just blank / dark.

Best,
Yohannes

[2020-12-01 12:42] glouel commented on #19
Hey @yohannes

Just to clarify, that's after launching "Experimental > Launch Aerial Fullscreen on this monitor", correct ? And with the window (fullscreen or minimised) still up ? How long did you wait approximately ?

One issue with that feature right now is that when Companion runs Aerial, it doesn't load the settings/cache that's used on Big Sur. So it will try to download a fresh video which

[2020-12-01 14:33] guidezpl opened #20 "Refresh menu options when update is available"
I've noticed a small status issue. When an update is available, the icon changes, but the option to update doesn't appear until I quit and relaunch.

<img width="260" alt="Screenshot 2020-12-01 at 15 31 44" src="https://user-images.githubusercontent.com/6655696/100753699-6ed8d500-33ea-11eb-8cf2-3582179bbc69.png">

After quitting and relaunching:

<img width="246" alt="Screenshot 2020-12-01 at 15 3

[2020-12-01 14:39] glouel commented on #20
Hey there !

That's weird, I'll have a look. When you restart companion, it indeeds does a recheck at startup, but the icon changing should have changed the menu too... hmm !

1.2 is available btw (and yeah I'm working on auto updates it's a bit of a mess right no for companion).

[2020-12-01 14:42] guidezpl commented on #20
Thanks for all the work! I can't imagine it's easy since Big Sur's permission changes. I'll update and report back if I see this issue happen again.

[2020-12-01 14:47] glouel commented on #20
Please do and thanks yeah, both Catalina and Big Sur have been messy but it's getting there :)

[2020-12-02 02:47] yohannes commented on #19
Yes, correct. Both fullscreen and not fullscreen. Approximately 5 mins.

Well noted on your additional remarks especially in regards to the cache inaccessibility imposed by the containerization policy in Big Sur. That makes sense for the particular case here. Thanks.

[2020-12-02 13:23] glouel commented on #19
Thanks @yohannes

So, a few thoughts that may help troubleshoot this.

- First, if you were using Aerial in Mojave, you may still have an old configuration file with something that the new Aerial can't quite cope with. A custom path could be one, though there are other things that may cause an issue. So, you can delete those preferences by doing this in terminal :

`defaults -currentHost delete co

[2020-12-02 13:58] glouel commented on #12
Hey @TedTschopp sorry I missed your post, I did release Companion 1.2 in the meantime with the icon designed by @inferno-adam, you can check it out here : https://aerialscreensaver.github.io/index.html (there's a screenshot at the bottom).

Apologies for missing yours.

[2020-12-02 13:58] #12 closed

[2020-12-02 18:10] glouel commented on #19
So just to let you know, I updated both Aerial and Aerial Companion.

Latest version of companion is here, in beta : https://github.com/glouel/AerialCompanion/releases/download/v1.2.1beta1/AerialCompanion.dmg

I also posted a standalone version of Aerial as an App, that lets you change settings (a workaround until I fix the issue and integrate it in Companion) : https://github.com/glouel/AerialCom

[2020-12-02 19:48] TedTschopp commented on #12
No worries... I look forward to the "bug" being "fixed" instead of seeing my work in production.  Thanks!

[2020-12-03 09:23] yohannes commented on #19
Hi @glouel

Thanks for such an informational reply. I did install the 1.2.1beta1 companion app and right off the bat, the feature of launching aerial in a specific monitor worked - the screensaver started playing. Then, I installed the 1.2.1b1 standalone aerial app just for kick & after looking around in it, I uninstalled it since I thought I could change the settings as well in the screensaver ve

[2020-12-03 13:33] glouel commented on #19
Hey @yohannes

Thanks for your detailed explanation of your steps, I think I know what's happening.

Ok so my guess was, during the black screen time you experienced on the previous launches, Aerial managed to cache at least one video (more on that below).

So by doing that, you probably went through the initial setup thing ? It's possible at this point that some setting got changed (like the reso

[2020-12-03 15:05] glouel commented on #19
@yohannes I found the bug, it's actually a longstanding bug with 2.0 and streaming, I'll push the fix soon.

[2020-12-03 15:44] glouel commented on #19
@yohannes : please update to Aerial 2.2.3 and it will be all fixed. Note that you still need the AerialApp to change settings, the settings for that windowed/desktop mode are separate from the "classic" screensaver settings on Big Sur/Catalina. Thanks again for your detailed steps, this was a bug that was plaguing Aerial for a while now.

[2020-12-04 12:29] guidezpl commented on #20
Reproed with the latest:

<img width="258" alt="Screenshot 2020-12-04 at 12 21 04" src="https://user-images.githubusercontent.com/6655696/101163940-ae92fd00-3634-11eb-9085-cc0829606770.png">
<img width="256" alt="Screenshot 2020-12-04 at 12 21 13" src="https://user-images.githubusercontent.com/6655696/101163935-ad61d000-3634-11eb-8e75-436d41cdd7df.png">

[2020-12-04 12:32] glouel commented on #20
@guidezpl ha, thanks for the report, I'll have another look at the code. In the meantime if you have a second, can you go into
`~/Library/Application Support/AerialUpdater/` (I know, confusing...) and look for a log file ? There may be something in here that help me narrows it down.

[2020-12-04 13:45] guidezpl commented on #20
There was no log file, only a zip of the latest Aerial

[2020-12-04 15:49] glouel commented on #20
Ha right, you can enable that in About > Debug mode, I think I defaulted it to off for some reason. In any case that shouldn't matter, I'll double check the code and get back to you. Can you confirm which "Update mode" you have in settings though ?

[2020-12-04 16:20] guidezpl commented on #20
Done. `Update mode` is "Notify me". I don't think it actually does, I usually notice the icon change

[2020-12-05 18:29] yohannes commented on #19
Hi @glouel,

Sorry for the late reply.

Yes as soon as the standalone aerial app was launched the first time, I was presented w/  the initial setup and I remembered now that I did change the resolution (so my claim before that I didn't change anything was inaccurate) and so indeed understandably the cache got deleted / overwritten.

I use similar app called Lulu by Objective-See

Yes it's working

[2020-12-05 18:29] #19 closed

[2021-02-20 15:37] ikonted opened #22 "Update Arial shows when launching arial full screen on one monitor"
It shows that the version of arial installed on my mac is 2.0.10 whereas in the arial companion it says 2.2.6. It leads me to believe that different types of screen savers are used here.
Also it shows the clock which i don't want to, would be good if this launch screen has the same settings as my screen saver

[2021-02-20 18:45] glouel commented on #22
Hey there, is that just after updating ? Try fully closing System Preferences and opening it again. System Preferences will not reload the new version after install (but the screensaver when it runs, is the new version). Let me know if that fixes it !

[2021-02-21 12:35] ikonted commented on #22
It worked, it still shows the time though, for other releases i would use the same settings as the original screen saver.

[2021-02-21 12:35] #22 closed

[2021-02-27 16:57] bondskin opened #23 "Icon width keeps changing (noticed with Bartender)"
Hi,

I am using Bartender 4 to hide some apps in the menu bar.

I configured AerialCompanion (and some other apps) to hide when the default icon is shown and only appear when the icon changes.
For a couple of days I am noticing that the AerialCompanion icon shows up although I am running the current version 1.2.1 beta2.

Once I update the icon in Bartender it disappears as expected but just to sho

[2021-02-27 17:14] glouel commented on #23
Hi @bondskin

So that's quite possible, I know that I had some drawing issues on some macOS versions that made me add some workarounds that included width. I'll try to have a look at some point and get back to you, thanks for the info.

[2021-03-02 13:59] glouel commented on #23
@bondskin

Ok I had a quick look and I had actually removed the offending code where I played with the width/height all the time, it's only set once now...

So I guess it could be some init thing or something, I downloaded Bartender 4 beta, I'll try to have a look maybe I can trigger the thing and get an understanding of why it breaks. Stay tuned !

[2021-03-02 15:02] bondskin commented on #23
awesome, thank you!

[2021-04-15 08:15] umpire274 opened #24 "Aerial no more operating on macOS"
Hi all.

From this morning I see on screensaver this message:

"Non puoi usare il salvaschermo Aerial con questa versione di macOS. Contatta il fornitore per ottenere una versione più recente del salvaschermo."
---
"You cannot use the Aerial screensaver with this version of macOS. Contact the vendor to get a newer version of the screensaver."

My version of macOS is: 11.2.3

If you need more detai

[2021-04-15 09:29] #24 closed

[2021-04-15 09:29] umpire274 commented on #24
Sorry repo wrong

[2021-04-27 07:46] fok opened #25 "Launch/At Startup: "Can't install LaunchAgent""
On one of my Macs I get the following error message when I click on Launch/At Startup:

![image](https://user-images.githubusercontent.com/1221892/116204248-de09e980-a73c-11eb-9043-a124b9a8c02d.png)

Aerial Companion 1.2 on macOS 11.2.x or 11.3.
It works in the same constellation on a second Mac.

I enabled Debug Mode but wasn't able to locate where Aerial Companion provides debug information.

[2021-04-27 12:43] glouel commented on #25
Hmm, I've seen that a few times but never managed to find what happenned exactly. Would you mind opening Console.app in the background, and either filter on Companion or on warning/errors, then press the button, and see if an error pops there ? That might tell us what is happening.

Thanks !

[2021-05-04 15:56] uromahn opened #26 "Install Now of Update gives SSL error"
I am trying to update Aerial to the latest version using the AerialCompanion.
However, when initiating the update manually, I am seeing the following error message:

**Installation error**

Error: An SSL error has occurred and a secure connection to the server cannot be made.

Please report.)

This error is usually happening when downloading from GitHub over https but then the download redirects t

[2021-05-04 15:58] glouel commented on #26
Hey @uromahn

This is weird. I'll do a check here in a minute but are you by any chance behind some sort of entreprise proxy or something of the kind ?

[2021-05-22 17:03] glouel commented on #25
@fok apologies, I know it's been a long while, but I've finally found the issue behind that bug.

Version 1.2.2 fixes it (basically, it used to happen often on a fresh macOS installation, where you had no other app that started automatically at startup, I had assumed that a folder existed somewhere when it didn't, my bad !).

Again sorry about that one and that it took me so long to figure out !

[2021-05-22 17:19] dVIAN13 commented on #11
Hey @glouel! I wanted to bump this thread to see if there were any updates? pun intended 🤣

[2021-05-22 17:23] glouel commented on #11
Hey @dVIAN13 ! Still not but I finally started working again on it today, releasing a new build. It does fix a few issues but I still haven't added the self update thing, but I'll try to get to it soon 🙈

[2021-05-22 17:24] dVIAN13 commented on #11
Thanks @glouel ! As always, amazing progress!

[2021-05-22 17:28] Pcar17 commented on #11
Yes, absolutely!

[2021-05-22 17:29] glouel commented on #11
Yeah I don't know about that, I've been pretty slow working on Companion those last few months 😅 But thanks for the kind words !

[2021-05-23 07:49] fok commented on #25
@glouel No, apologies from my side that I didn't provide further information as you requested. I tried once but couldn't get anything useful from Console.app so I put it on my todo list for later and haven't found the time yet... :-(

Unfortunately I still have the problem with 1.2.2. I will take another look now with Console.app.

[2021-05-23 08:06] fok commented on #25
I could not find any fault with Console.app, the only thing related to AerialUpdater is the following:

`default	10:01:16.153248+0200	runningboardd	Acquiring assertion targeting [app<application.com.glouel.AerialUpdater.35089529.35089597(501)>:4452] from originator [daemon<com.apple.WindowServer(88)>:164] with description <RBSAssertionDescriptor| "FUSBProcessWindowState: occluded" ID:171-164-1223

[2021-05-23 08:13] fok commented on #25
I found the toggles i Console.app to include Info and Debug messages. :) That gives me the following when I click on Launch/At Startup:

`debug	10:09:30.191186+0200	Aerial Companion	found no value for key ShowUnmatchedMenuBounds in CFPrefsSearchListSource<0x600003c58380> (Domain: com.glouel.AerialUpdater, Container: (null))
debug	10:09:30.191353+0200	Aerial Companion	found no value for key ShowUnm

[2021-05-23 11:38] glouel commented on #25
This is incredibly puzzling. Need to think a bit more about your logs but sadly it looks like it spews message only when you close the error, not when it's failing. Can you go into your user's library folder and check the following:
- Is there a `LaunchAgents folder or not
- Inside that, is there a `com.glouel.AerialUpdaterAgent.plist`
- Back in your user's Library, do you have a `Preferences` fol

[2021-05-23 12:49] fok commented on #25
The `~/Library/LaunchAgents` folder is there, but not the `com.glouel.AerialUpdaterAgent.plist`. `~/Library/Preferences/ByHost` does also exist.

`~/Library/Application Support/AerialUpdater/Log.txt` shows something that might be useful (incl. those two blank lines):

[code]

[2021-05-23 12:59] glouel commented on #25
Intriguing, what about a bit above ?

[2021-05-23 13:08] fok commented on #25
I think I found something:

When I copy `com.glouel.AerialUpdaterAgent.plist` from my other Mac (where it works) to `~/Library/LaunchAgents` and try to click Launch/Manually or Launch/At Startup I get this error message:

<img width="259" alt="Screen Shot 2021-05-23 at 14 57 56" src="https://user-images.githubusercontent.com/1221892/119261472-db819f00-bbd7-11eb-90dd-452149e03008.png">

It might be

[2021-05-23 13:10] glouel commented on #25
Oh, it asks you for your password ?! In your user directory ? What kind of user account is it ?

[2021-05-23 13:27] fok commented on #25
Yeah, I found the reason: `LaunchAgents` was owned by `root`. :-)

<img width="546" alt="Screen Shot 2021-05-23 at 15 14 18" src="https://user-images.githubusercontent.com/1221892/119261969-db829e80-bbd9-11eb-923a-e0dc3b6d2b2b.png">

A `sudo chown fklemenz LaunchAgents` fixed everything. AerialUpdate works fine now.

This is a lightly managed company laptop. I have admin access but when setting th

[2021-05-23 14:04] glouel commented on #25
That explains everything ! Well thanks for following up and happy we ended un finding what was up in the end.

As a side note that’s what always puzzled me with those folders, one would assume macOS would create them to avoid that kind of issue, and why I was super reluctant of creating them myself.

Anyway happy to hear it’s ok now, take care !

[2021-05-23 14:04] #25 closed

[2021-06-11 13:32] glouel commented on #26
Please reopen if you still experience the issue.

[2021-06-11 13:32] #26 closed

[2021-06-11 14:16] supermarjo opened #27 "Add support for variables in message"
Hi!

I love Aerial screensaver. Amazing work!

A suggestion for the message overlay, is to add support for variables to be added in the free text message. Then its possible to construct customized single line messages.

Currently placing for example Clock and Location in bottom left corner makes them stack on top of each other vertically.

Would be nice if objects placed in the same corner could o

[2021-06-11 14:38] glouel commented on #27
Hey @supermarjo

Ok so that's a pretty cool idea !

But right now, Aerial's drawing system wouldn't be able to handle it correctly. One issue would be that those variable may have different refresh needs. Clock with seconds needs to be refreshed every second, while location may change over the course of a video every 30 seconds for example.

As of right now each is separated in part so it can have

[2021-06-11 14:47] supermarjo commented on #27
Thanks for considering the suggestions Guillaume!

If you are thinking about countdown and such, for example count down hours to end of day (optionally showing it in short instead of verbose HH:mm or so), also end of week or end of month. So you don't have to edit the settings every day/week/month to re-calculate count down that are "relative" in that sense.

Timer kind of thing could be of intere

[2021-06-11 14:57] glouel commented on #27
No problem they are more than welcome.

That's pretty good and should be easy to add. I'll see what I can do with that.

👍

So Spotify I personally don't use but I probably got more request (in the other repository : https://github.com/JohnCoates/Aerial/issues) about it than Apple Music. I'm starting with Apple Music because I happen to have found a workaround for some of the limitations imposed o

[2021-11-07 01:42] eoren1 opened #30 "Request: Option to remove icon from top menu bar"
On new MacBook Pro and would appreciate a way to keep the icon out of the top menu given the limited space available with the notch

[2021-11-17 01:31] apbitner opened #31 "Screensaver keeps freezing"
Been using Aerial for months but lately I'll come back to my computer to find the screen frozen on a frame from an Aerial movie. I also updated to Monterey recently so it could possibly be related to that 🤷🏻‍♂️

macOS Monterey 12.0.1
Mac mini (M1, 2020) - 8gb
Aerial Companion 1.2, Screensaver 2.3.3

[2021-11-17 01:40] glouel commented on #31
Hey there !

Hmm, frozen on a frame is a bit of a new one. This used to happen a lot with streaming but unless you were creative with your cache settings Aerial should rarely if ever stream nowadays.

I would very much like to see a log if you have one in any case. How frequently does that happen ?

[2021-11-17 01:47] apbitner commented on #31
Sure, here's my Aerial log, hope this is what you wanted. I'm not sure if it happens every time Aerial runs but it seems to happen quite often these days.

[AerialLog.txt](https://github.com/glouel/AerialCompanion/files/7551065/AerialLog.txt)

[2021-11-17 01:50] glouel commented on #31
It is thanks ! I'll have a look tomorrow and get back to you.

Sorry for the issue in any case, I did notice some weirdness during the Monterey beta process (which were mostly fixed) but that's a new one.

[2021-11-17 13:17] glouel commented on #31
@apbitner so I checked your log and have a hard time finding any issue. Next time this happens, can you note your exact local time before you wake up, and give me a log with that timestamp so I can try digging a bit more ?

Also I didn't ask but a couple of things :
- When the screen is frozen, can you still wake up your computer normally ?
- I suppose you would have catched it but it doesn't happ

[2021-11-17 13:39] apbitner commented on #31
Hello,

Actually it just happened before I filed this bug last evening, but I will
take note of it next time.

I am able to wake the computer when I move my mouse and it happens on
different videos.

On Wed, Nov 17, 2021, 7:17 AM Guillaume Louel ***@***.***>
wrote:

[2021-11-17 14:36] glouel commented on #31
Thanks for your quick answer, that's super helpful and I maybe have a couple of ideas on what's happenning, but you may be able to clarify the timeline and your Mac settings a bit.

Here's what I'm seeing :

- at 17:34:50 Aerial kicked in and was launched as a ScreenSaver
- at 18:30:39 it started playing a video of the ISS, Mexico to NY which is about 5:30 long. I'm expecting it to stop at 18:36:0

[2021-11-17 15:49] apbitner commented on #31
Hello,

I think you're on to something. The screensaver comes on after 5 minutes,
and here are my energy settings:

[image: image.png]
I do prevent my Mac Mini from going to sleep because I had been having
issues with my Bluetooth mouse/keyboard not reconnecting after it went to
sleep, and enabling that checkbox seems to have fixed the issue. It's weird
though because I downloaded Aerial months ag

[2021-11-17 15:55] glouel commented on #31
Can you attach your screenshot on github ? Attachements doesn't work on mail. Thanks !

[2021-11-17 15:56] apbitner commented on #31
Ah, here you go.

![image](https://user-images.githubusercontent.com/22176302/142234856-34c38945-4615-4b70-a306-539946bcd2c8.png)

[2021-11-17 16:03] glouel commented on #31
Ohhhhhh...

Ok so I'm a bit confused now, can you clarify if your screen *actually* goes to sleep with those settings ? Is the screen asleep and when you get back you wake it up and get a paused Aerial? I'm kinda thinking your screen never goes to sleep here, am I getting this right ?

I'm wondering whether I'm missing an event to restart the screensaver or if it's something else. In any case, thi

[2021-11-17 16:10] apbitner commented on #31
In the past, the screensaver would come on after 5 minutes, and then the display would go to sleep after an hour. Now, Aerial seems to freeze after an hour and the display no longer goes to sleep.

I will do another test this evening, but yes the issue seems to be that before Monterey my display would go to sleep after 1 hr. And now after 1 hr the screensaver freezes and the display never goes to

[2021-11-17 16:14] glouel commented on #31
Ok that makes perfect sense now, thanks ! To be clear I don't think it's "frozen" as in crashed, it's just that I pause the video waiting to be killed, which apparently never comes. The screen saver itself isn't in charge of putting your screen to sleep and macOS is in charge of killing the screensaver too, so could be some newish bug with those settings in Monterey.

I'm running 12.1 beta here bu

[2021-11-17 23:08] glouel commented on #31
Very quick update, my first test with your settings (1h and never put computer to sleep), screen went to sleep fine after 1 hour.

I'll keep those settings for a few days to see if I can trigger your issue but this may be a M1/12.0 bug with macOS.

[2021-11-17 23:16] glouel commented on #31
This may be unrelated, but found this post : https://old.reddit.com/r/MacOS/comments/qj9cn4/macbook_wont_sleep_on_monterey/

Maybe try disabling power nap to see if it has any effect ?

[2021-11-19 01:08] apbitner commented on #31
I left my computer for 2 hours today and came back and display was asleep, so will keep an eye on it. I'm also on a Mac mini, not a Macbook, so I don't have power nap.

[2021-11-19 03:11] apbitner commented on #31
Spoke too soon, happened again. I stepped away from my computer around 7:30pm, came back around 9:08pm and the screensaver was paused on the screen. FYI, I changed my display to go to sleep after 15 minutes instead of an hour in hopes of making this easier to test.

[AerialLog.txt](https://github.com/glouel/AerialCompanion/files/7567533/AerialLog.txt)

[2021-11-19 11:01] glouel commented on #31
A few thoughts
- first it looks like they may have removed Power Nap from M1s (I definitely have it on my Intel iMac, it's not notebook only).
- second, did you check the reddit thread ? This is all about issues with bluetooth too, specific to 12.0. What they describe is they see the screen fading to sleep and waking up instantly then never going again. This may be what's happening to you too.
- s

[2021-11-23 12:04] kg-currenxie commented on #30
Was coming here to post the same. Please! :)

[2021-11-23 12:09] glouel commented on #30
Looks like I missed the original post so apologies to @eoren1

But to both : you can already do that, it asks you during setup if you want to have it run in the background (so it doesn't show up in the menu bar) or not. Maybe my explanations on that screen aren't clear, so I'm more than open to feedback to improve that.

Anyway, it's an easy fix, pick this :

<img width="475" alt="Capture d’écran

[2021-11-23 12:39] kg-currenxie commented on #30
Oh great. Totally missed that menu option for some reason 😅  <3

[2022-01-19 15:58] WetTiger opened #32 "Feature request: Play the same video on multiple screens"
Hi,
I am using multiple screen in my setup and it would be great if once Aerial comes on, it would play the same video on both/all screens synchronous.
Is there or will there be such an option?
Many thanks for your work!

[2022-01-19 16:10] glouel commented on #32
Hey @WetTiger

There sure is, check the Displays options here :

![Capture d’écran 2022-01-19 à 17 08 58](https://user-images.githubusercontent.com/37544189/150169894-7b54f75b-bdcf-497d-9232-2c98500cf783.jpg)

You can also span one video on multiple monitors.

Take care

[2022-01-20 09:00] WetTiger commented on #32
Hi @glouel,
thx for the quick reply. Now i found it. Had to pull the window bigger, wasnt able to scroll through it.
Love it!

[2022-01-30 16:51] DiAnSk64 opened #33 "Issue : v3.0.2 "Options" not accessible anymore"

[2022-01-30 16:56] DiAnSk64 commented on #33
I installed v3.0.2 on a iMac 21" running under Catalina 10.15.7, and after trying to download a few iOS 15 screensavers, the menu options stopped working : I quit the control panel, reopened it, but now the "Options" button for AC 3.0.2 is not working anymore.
What can I do to access the settings again ?

[2022-01-30 17:58] glouel commented on #33
We're talking about the button below the tiny preview right ?

Did you try closing down System Preferences entirely, with Aerial selected first ? Sometimes a reboot helps too on Catalina, things tend to get stuck on that OS.

Also switching from multiple screensavers can cause that on Catalina, so close with Aerial selected (or the one you want to use) and reopen usually does the trick.

[2022-02-07 22:36] Pcar17 opened #34 "Prior Aerial Companion menu options missing after update to v1.4.0beta1"
Hi,

I just installed v1.4.0beta1 of Aerial Companion (along with Aerial Release v3.0.5).  I'm not seeing the original Aerial Companion menu options available from the menu bar anymore like [here](https://user-images.githubusercontent.com/18543749/90840214-65d66300-e327-11ea-937c-6885f1ff1b4c.png) that's been around for awhile now.  Is the old Aerial Companion UI gone? Note that I am using Aerial

[2022-02-08 19:13] glouel commented on #34
Hey @Pcar17 !

So yep I'm trying this new UI because the menu was too cramped and hard to make dynamic. One cool thing with the new one is that I can dynamically change it, so for example in wallpaper mode it looks like this :

![Capture_decran_2022-02-06_a_23 32 00](https://user-images.githubusercontent.com/37544189/153058657-22672799-c4fd-4547-b986-dbf391314566.png)

Now  as you've acurately not

[2022-02-08 20:04] Pcar17 commented on #34
Thanks @glouel for the update! Sounds like a good plan.

I'll of course let you know if I have anything to add when you release your next beta.

Btw, everything is very stable right now on my M1 MBA.  Also, I am downloading today's new Monterey beta right now.

[2022-02-09 14:41] #32 closed

[2022-02-09 14:43] glouel commented on #27
Hey @supermarjo

Still no update on countdown nor variables, but quick notification that Spotify support is in 3.0+

[2022-02-09 14:44] #18 closed

[2022-02-22 20:55] fuzzy76 opened #35 "Respect disabled Aerial"
If I have selected another screen saver, Aerial Companion will change back to Aerial when updating. Please don't make me uninstall Aerial Companion just because I want to try other screen savers. :)

[2022-02-22 21:01] glouel commented on #35
Hey @fuzzy76

Indeed, as part of the initial install companion does set Aerial as default, that's what I intended. A side effect of this, because it's using the same code, is that it also sets itself again on update, which is definitely a bit hostile.

I'll have a look at fixing this for next beta, thanks for the report.

[2022-03-05 18:15] zukaC opened #36 "I don't had the picture..."
`<a href="https://imgur.com/ATe6l8U"><img src="https://i.imgur.com/ATe6l8U.png" title="source: imgur.com" /></a>`
I don't know whats going on,I don't had the picture... someone can help?

[2022-03-05 18:17] zukaC commented on #36
`<a href="https://imgur.com/ATe6l8U"><img src="https://i.imgur.com/ATe6l8U.png" title="source: imgur.com" /></a>`

[2022-03-05 18:18] glouel commented on #36
Hi @zukaC

Close System Preferences then open Terminal and paste this :

```defaults delete ~/Library/Containers/com.apple.ScreenSaver.Engine.legacyScreenSaver/Data/Library/Preferences/ByHost/com.JohnCoates.Aerial.plist```

Then you should be ok.

[2022-03-06 02:23] zukaC commented on #36
@glouel Thank you very much!! It can be used normally!

Wishing you good wealth and prosperity!

[2022-03-31 22:07] wakco opened #37 "Companion 1.4.0b1 not recognising Aerial 3.0.8b1 is installed"
After successfully installing the update, Companion continues to think there is an update available.

The only question is, is this an Aerial issue with how it's version is being reported, or a Companion issue with how it is checking the version installed vs. what updates are available?

[2022-03-31 22:12] glouel commented on #37
Hey, sorry about that one, I can confirm the issue.

I upgraded my mac and must have messed something up doing the beta release on the new one, I'll have a look.

[2022-03-31 23:26] wakco commented on #37
If it helps I have both Intel and Apple Silicon Macs, and the issue appeared on both. I should also note, that until I upgraded when I discovered the issue, the Intel one was using Companion version 1.2.2, which also had this update issue. (I should have put this in the initial post, but failed to think that far into it, at the time).

[2022-04-01 14:15] megaroeny commented on #37
Same here. Tried a few times and restarting the app, no luck. 😕

[2022-04-01 16:54] glouel commented on #37
Sorry everyone, this should be fixed, you'll be prompted to get Aerial 3.0.8beta2 and it will stick now.

[2022-04-01 17:42] Pcar17 commented on #34
Hi,
Quick update....I just reverted back to the last production release, 1.2.2. The older UI is functionally working better for me--I missed it.  :-)

[2022-04-06 21:18] Pcar17 commented on #34
2glouel,

The main thing is to just not lose 1.2.2 functionality from the current drop-down.  Also, the 1.2.2 drop-down is just so easy to use....not that your new features are not valuable though!

<img width="300" alt="Screen Shot 2022-04-06 at 4 16 25 PM" src="https://user-images.githubusercontent.com/44177062/162072555-a05007e9-07cb-40e0-a2d0-1e70466b1f01.png">

[2022-04-21 21:00] shidifuhou opened #38 "Overlays setting does not apply to desktop wallpaper"
I changed the font in `Overlays`, but it doesn't work on the desktop wallpaper.

[2022-04-21 21:06] shidifuhou commented on #38
Issue solved. Work on new version Aerial.

[2022-04-21 21:06] #38 closed

[2022-05-23 13:27] PappyChappy1 opened #39 "Feature Request: Other media playback overlays"
I love the Apple Music overlay, is it possible to get support for Apple Podcasts, or other audio sources (safari)?

[2022-05-23 14:02] glouel commented on #39
Hey @PappyChappy1

I wanted to do a universal thing, but I wasn't able to find a way to do it yet, it seems Apple doesn't give an api that shows what play universally (it must exist as they use it in the menu bar, but no luck finding even a private api to do it).

Podcasts may be possible though, I'll have to check. Right now I have to make it app per app so it takes a bunch of time/effort and I r

[2022-07-17 16:32] #37 closed

[2022-07-20 15:21] sllerts opened #41 "Possible bug: temporary loss of mouse click after unlock"
Recently, I've noticed that when the screen saver engages, after I unlock, mouse clicks do not register for at least 15 to 30 seconds.  This only started happening in the past few weeks.  Manually locking the computer and unlocking does not incur the delay.

This is with latest Monterey (12.4) on a 2019 15 inch MBP.

[2022-08-15 17:15] TheRealChannelD commented on #31
Hi there, I wanted to see if this is still being researched.

I see to have just started having this issue with 12.4/12.5 of Mac Monterey.   I did go to the latest beta 1.2.2 (3.1.0beta3) and that didn't help.

For me, I have an external monitor and my Mac open (unclamshelled).   The lockup happens between 12-24 hours.   The only screen that ever locks up is the main Mac.   The external 34" monito

[2022-08-15 17:32] glouel opened #42 "Screen freeze in latest Monterey builds with external monitor"
Hi there, I wanted to see if this is still being researched.

I seem to have just started having this issue with 12.4/12.5 of Mac Monterey.   I did go to the latest beta 1.2.2 (3.1.0beta3) and that didn't help.

For me, I have an external monitor and my Mac open (unclamshelled).   The lockup happens between 12-24 hours.   The only screen that ever locks up is the main Mac.   The external 34" monit

[2022-08-15 17:33] glouel commented on #31
@TheRealChannelD I created a separate issue here : https://github.com/AerialScreensaver/AerialCompanion/issues/42

[2022-08-15 17:39] glouel commented on #42
@TheRealChannelD

As far as I know there were no issue anymore, but I've had sparse reports of issues with latest Monterey beta.

Let's try to clarify a few things:

So you have Aerial running for 12-24 hours ? Your screen is set up to never go to sleep, just to be clear ?

So you have your Mac + external screen. Video keeps playing on your external screen, but does NOT on your Mac screen, correct

[2022-08-15 17:55] TheRealChannelD commented on #42
Thanks for the response back.  Hope this helps for clarity

Yes, that is correct.  I have show screen saver after 20 mins and they never go to sleep.  The guess of 12-24 hours is that if I reboot, or clamshell the laptop in am (like 8).  It will be locked up by nighttime.  It might happen sooner than 12 hours, but it doesn't happen until after many transitions.

Correct.

The screensaver is frozen

[2022-08-15 18:25] glouel commented on #42
So again to be clear, you reboot in the morning, your screen saver comes up, you DON'T use your mac at all during the day, Aerial plays CONTINUOUSLY and then at some point, video freezes on your Mac screen but keeps playing on your secondary screen.

We're NOT talking about doing something with your mac, having it go to screensaver after 20 mins, using it again, etc etc ?

Ok this I don't quite ge

[2022-08-15 20:26] TheRealChannelD commented on #42
I will clarify.  After the lockup I have tried rebooting or not rebooting and just clamshelling.   M-F I tend to do stuff with my Mac at least once an hour, I rarely see it lock up then.  On weekends, I come to the computer and its like this in the morning (after sitting 8-12 hours overnight).   I check email and don't mess with it all day, come back after dinner and its in this state.    I have s

[2022-08-16 12:26] TheRealChannelD commented on #42
Hi there, I tried a few things late last night into overnight.

1) I didn't remove my external cable, but I changed my external monitor input to my PC.  This forces the Mac to just believe it has the one desktop.

2) I started and monitored the screensavers.  Each time I manually started it and noted the time started and time it froze.  I didn't reboot, all I did was clamshell the Mac for a second

[2022-08-16 13:00] TheRealChannelD commented on #42
Yes, the external 34" widescreen always wakes up 100% of the time and never has an issue.

Yes, I tried this hoping to see if the behavior changed.  Only the Mac was running the screensaver overnight.    It still got stuck.

Ok, I enabled logs.  I have some things to do on my Mac today, but as soon as I see this behavior will note it and send the log over.

[2022-08-20 00:13] TheRealChannelD commented on #42
Hi there, so I don't think this is helpful, but after enable debug logging the freeze stopped.  I waited over 24 hours.   I disabled the debugging and got two freezes in about 4 hours.  I then re-enabled it and haven't seen a freeze in over 24 hours.  Odd huh?  I bet you didn't expect debugging to change the stack enough to hide it, but hey on the positive note I guess I have a fix.  ;-)  I'll lea

[2022-08-20 01:26] glouel commented on #42
Now that's a weird one for sure, thanks for the update @TheRealChannelD

One reason I can see is that logging causes writes to your internal mac SSDs, and maybe that's sufficient to keep it awoken and avoid whatever weird sleep status it got itself into ? I say keep debug mode enabled, it's always good to have logs in case something else break ;)

[2022-08-20 12:36] glouel commented on #41
Hey @sllerts

Sorry I missed your issue.

There seems to be a bunch of weird sleep related issues with the latest Monterey builds.

First, did you see any change since with 12.5s ?

Second, this happens if you say, launch the screensaver, exit it while it's running, then you have this weird moment ?

It can take up to 15-30s for macOS to "kill" Aerial, after you wake up your computer since macOS C

[2022-08-20 12:55] glouel commented on #33
Closing this, please reopen if you still need assistance

[2022-08-20 12:55] #33 closed

[2022-08-29 02:09] Bradley-Liu opened #43 "kernel panic when using aerialcompanion"
macos 12.5.1
intel uhd630 igpu
dgup rx560d
I got a kernel panic when screen savor run for about 15mins. sleep is disabled through system settings. panic info is below. please help.

panic(cpu 3 caller 0xffffff8018d7999f): userspace watchdog timeout: no successful checkins from WindowServer in 120 seconds
service: logd, total successful checkins since load (1640 seconds ago): 165, last successful c

[2022-08-29 02:11] Bradley-Liu commented on #43
It has nothing to do with video decoding. I play cached videos in a loop with quicktime.  macos never panics when playing.
It has something to do with the screen savor program.

[2022-08-29 10:07] glouel commented on #43
Hey @Bradley-Liu

Did you report to Apple ? Userspace should never be able to crash Kernel, so this is something they definitely need to see. `watchdogd` seems to be the culprit and I see a lot of people having issues with Final Cut Pro, so it's probably video decoding related in some way (perhaps hardware decoding). See this thread for some suggestions first, but I'm afraid there's not much I can

[2022-08-30 00:25] Bradley-Liu commented on #43
NO I didn't send it to apple. I am using a hackintosh actually. I don't know if the report will be useful to apple or not.
Before this. I use igup only and everything is fine. Recently I updated my machine with a dgpu(rx560). After that, the KP started to happen. I've changed to 1080p hevc resolution and this does solve the problem. But I've got a 4k monitor. Playing  1080p videos on a 4k monitor

[2022-08-30 01:21] glouel commented on #43
You can't compare Aerial playback whatever VLC is doing, it has very limited support for hardware decoding as Apple is not opening most of those paths, and that's on a real mac.

The best way to emulate what Aerial does is to play a video, from its cache (and not just some random 4K video), in Quicktime.

But in all cases, there's literally nothing I can do for you. Kernel panics are a problem for

[2022-08-30 01:21] #43 closed

[2022-09-04 17:00] jridder opened #44 "Playback is narrow with second display."
I have noticed recently that playback get cut off to a smaller size with 2 screens. M1 Pro MacBook Pro. macOS Ventura Build 22A5331f.
![IMG_1582](https://user-images.githubusercontent.com/11082465/188324889-010b6cc4-8725-4ef4-afb7-c2db8913fe5a.jpeg)

[2022-09-04 17:04] glouel commented on #44
Hey @jridder

It looks like the video is probably rotated on your left screen for some reason, this is excessively weird. Can you go into advanced, enable debug mode, launch the screensaver once, then send me the log ?

Not sure if it's a ventura thing or if it's something else, but the width looks like the correct height, just that the video is wrongly rotated (but not the overlays)... weird one

[2022-09-04 17:08] jridder commented on #44
I didn't even notice the rotation until you said that. I just had seen the issue out of the corner of my eye this morning when walking by my office. Log attached.
[AerialLog.txt](https://github.com/AerialScreensaver/AerialCompanion/files/9485123/AerialLog.txt)

[2022-09-04 17:18] glouel commented on #44
Thanks, the display detection looks ok from what I can see, so it's likely some weird bug with the video. I'll try to replicate that setup on Ventura this week and keep you posted.

[2022-09-06 12:30] TheRealChannelD commented on #42
I did see the screen freeze last night after weeks of no issues.   The screen time says '23:25:20'.  My full log was 500MB so I just trimmed it down to the last month and uploading that.
[AerialLog.txt.zip](https://github.com/AerialScreensaver/AerialCompanion/files/9496852/AerialLog.txt.zip)

[2022-09-10 16:43] glouel commented on #42
Hey @TheRealChannelD

Sorry it took me so long to answer, but the 500 MB thing needed definitive correction and I could only take care of it this week end.

So I finally did with 3.1.3 which I just released. It will cap the log size to 1 MB.

I would suggest you try again with that version, and make sure that the debug logging is still enabled. It's possible that the file being so large had an eff

[2022-09-13 22:34] dserodio commented on #42
I'm experiencing a similar problem, but I did not troubleshoot it yet. I use 2 external monitors along with the built-in display, with different Aerial screensavers on each of them and it's very common for the screensaver to freeze on the built-in display. Running macOS Monterrey 12.5.1 and Aerial Companion 1.2.2. After reading this issue I just updated Aerial from 3.1.2 to 3.1.3 and enabled debug

[2022-09-13 23:45] TheRealChannelD commented on #42
I can report so far I do see the log size is down.   I haven't seen any issues yet.

I do notice both the release and beta for me say 3.1.3.  I stayed on the beta channel, but maybe you decided to take the fix live.  Was curious about that.

[2022-09-17 16:32] jridder commented on #44
Did you implement a fix? The reason I ask is it seems to be working correctly now.

[2022-09-17 16:47] glouel commented on #44
Hey @jridder

Sorry I completely forgot to update you.

I think the bug was with the latest macOS SDK. 3.1.3 is using the "old" monterey SDK which fixes many many issues so for the time being I'll be using it. It has the side effect to fixing this bug too it seems.

I'll stick to the old xcode version for the foreseeable future

[2022-09-17 19:35] jridder commented on #44
Closed for now, thanks!!

[2022-09-17 19:35] #44 closed

[2022-09-18 12:27] glouel commented on #42
Yep when there's no beta, it shows the latest release as the most recent beta, it's a bit weird but it's to make sure that if you are on the beta track, you still get the latest release if that's the latest ;)

I had a couple of other reports that were similar to yours, so far the debug log trick seems to work somehow... let's hope it sticks !

[2022-09-20 14:57] drewbombard opened #45 "Error/typo in the cache is full screen"
Looks like there is a small bug in the warning message when the cache is nearly full.

It says:

[2022-09-20 15:00] drewbombard commented on #45
Oops... yeah, I meant to send this with the original post:

![Screen Shot 2022-09-20 at 9 52 48 AM](https://user-images.githubusercontent.com/293224/191293198-c89cc2e9-30b4-4f5b-baa6-2cac977daaa9.png)

[2022-09-20 16:39] glouel commented on #45
<img width="372" alt="Capture d’écran 2022-09-20 à 18 38 36" src="https://user-images.githubusercontent.com/37544189/191315386-c9e2eb45-4508-47ba-b696-f95ae8f93d90.png">

This is fixed for next version, I won't release it today though but soon. Again thanks for the report!

[2022-09-21 00:02] TheRealChannelD commented on #42
After several days of no issues, I did have a problem this evening around an hour ago.  Attaching the log in hopes it captured something.   As far as I know, none of my software has changed.

PS I sent coffee money because I'm sure I've kept you up lately.  Cheers!

[AerialLog 19.11.03 9-20-22.txt.zip](https://github.com/AerialScreensaver/AerialCompanion/files/9611920/AerialLog.19.11.03.9-20-22.tx

[2022-09-21 21:29] glouel commented on #42
Damn it, I thought we had it ! I'll have a look at your log tomorrow and let you know !

And thanks for the coffee, it's definitely not required but very much appreciated !

[2022-10-02 23:03] TheRealChannelD commented on #42
Hey there... didn't want to be pushy, but I saw it happen again and wonder if you discovered anything more.  Unfortunately it was right about the time Hurricane Ian hit and as luck would have it, the log did get overwritten since its cyclical logging now.   Sorry about that.

[2022-10-10 18:03] mrolfer opened #46 "Even though I have multiple videos selected it just loops on the first one"
Not sure why the dropdown shows 1.2.2 and Installed as 3.1.3

![Capto_Capture 2022-10-10_10-55-37_AM](https://user-images.githubusercontent.com/6589075/194926352-b5707576-460a-43fd-9a87-a063cd2a3eeb.jpg)
![Screen Shot 2022-10-10 at 10 56 46 AM](https://user-images.githubusercontent.com/6589075/194926772-b6fa5155-d048-4072-8987-f6c39bf9dc80.jpg)

[2022-10-10 19:07] glouel commented on #46
There are two parts to Aerial, the Screen Saver itself (3.1.3) and the installer/auto updater (Companion, which you have in 1.2.2).

Regarding your title, did you enable automatic downloads or not ? If you disable automatic download, you are likely to get stuck with one video.

[2022-10-22 21:22] TheRealChannelD commented on #42
Hey there.   Not sure if you are making any more tweaks.   Did want you to know I still see it from time to time.

[2022-10-23 17:12] glouel commented on #42
Hey, sorry, haven't found anything yet. Please let me know if you still have more details about this. I do have a workaround possibly with the next version of Companion though, I'll keep you posted soon.

[2022-10-24 13:56] TheRealChannelD commented on #42
When it happens I can send another log if you think that will help.   I will say you mentioned something before that might be important.   When I am doing TimeMachine backup, the screen lockups seem to happen more frequently.    The backups finish more though so it doesn't affect that.

[2022-10-26 20:55] joostvdl opened #47 "MacOS Ventura shows Allowed Backgroud Parts with name Guillaume Louel"
<img width="506" alt="Scherm­afbeelding 2022-10-26 om 22 40 41" src="https://user-images.githubusercontent.com/234896/198135340-1753b778-4804-489c-88f1-2ea3173bc082.png">

Mac OS:  Ventura 13.0
AerialCompanion: 1.2.2

After isntalling AerialCompanion on Mac OS Ventura it shows a background part running with the name of Guillaume Louel.

This looks like a bug and should be Aerial Companion or somet

[2022-10-26 21:04] glouel commented on #47
Hey there,

This is my name but indeed it looks terrible, for some reason this panel is displaying the name of the Company/Developer, and not the App name.

This sounds like a bug in System Settings that nobody noticed or fixed yet. You can see Bitdefender SRL and Dragan Milic with the same issue. I'll try to dig a bit into this but it's very weird, all those have in common not to have an icon eit

[2022-10-31 22:48] n0rt0nthec4t opened #48 "Bring back the old UI :-)"
Been testing the beta's of the Aerial Companion and the more use I have, definitely feels like a major regression for the UI in 1.5B.

[2022-11-01 17:39] #46 closed

[2022-11-01 17:39] glouel commented on #46
Please reopen if you still need assistance

[2022-11-02 00:44] brian163 commented on #48
I dunno, I kind of like it. ;-) I feel it is an interesting design choice not to put text labels on the various button options. But once I paid attention to the hover over tips explaining what each button was for I was immediately less confused.

[2022-11-02 00:46] brian163 opened #49 "1.5.0b2 download"
When I download [Aerial.Companion.app.zip](https://github.com/AerialScreensaver/AerialCompanion/releases/download/v1.5.0b2/Aerial.Companion.app.zip) from that section both the Finder and app versions still show as 1.5.0b1 ?

[2022-11-02 21:27] n0rt0nthec4t commented on #48
Guess my issue is its "Not macOS like" and more like the bundled vendor utilities you get on a Windows PC that can't wait to remove!

[2022-11-03 17:47] glouel commented on #49
Yes yes, it says beta1, I messed up the file but it's really beta2  !

[2022-11-19 15:43] TheRealChannelD commented on #42
I can definitely confirm it happens more frequently with a disk plugged in a regular Time Machine backups if helpful.   It continues to be the primary laptop display.  The screensaver on the secondary monitor never freezes which I continue to think is a little odd.  Could it have something to do with that?

[2022-11-19 21:29] glouel commented on #42
Hey there, couple of things :
- how's your Time Machine disk plugged (USB-A/USB-C, directly to your mac or behind a hub)

Reason I'm asking: I've had tons of issues on my Mac Studio with my Time Machine SSD when connected to USB-C, it would randomly disconnect. Somehow, switching it to USB-A solved it all. USB can be weird and some USB issues can lead to unpredictable stuff so, some checking aroun

[2022-11-20 13:16] TheRealChannelD commented on #42
Thanks for the note back.  The drives I use are WD My Passport Drives (a 4 platter spindle drive, USB C 3.2 Gen1) plugged directly into one of the 4 USB C ports on my MacBookPro16,2.  Never use a hub with USB-A (but understand that may change the device timing).   If it helps, I have all power management (including Power Nap, put disks to sleep, etc. turned off because it stays connected in one pl

[2022-11-21 16:18] glouel commented on #42
The problem is, this is completely out of my control as it's very likely a bug somewhere in macOS that causes the issue, and there's little I can gather from Aerial as we are heavily sandboxed.

I think the best you could do to narrow it down is maybe capturing the Console output at the moment of a freeze, but that's probably not easy to do ? I guess if you leave Console.app running with the captu

[2022-11-21 19:38] TheRealChannelD commented on #42
Yes, not sure how to setup console or capture just the moment.   I guess I was hopeful that the fact that the freeze happens on the main system, but not the remote monitor might be a clue.  I see in Sep @dserodio said he saw the same thing.  Not sure if it still affects him or not.

I am also running two different screensavers (different one on the main monitor than the laptop screen like I saw th

[2022-11-22 14:57] rjentoft opened #50 "Please change name of background helper"
Great software Guillaume.

Your name shows up in the Login Items found under System Preference>General>Login Items>Allow In the Background. We don't all associate your name with this great program—I have been guilty of disabling this login item in a rush because I forgot it was for Aerial. Could you please change the name of the helper to your software name for uniformity with other login helper i

[2022-11-22 15:00] glouel commented on #50
Hey @rjentoft

This is acually an issue in System Settings in Ventura, for some reason they display the developper name instead of the program name in some instances, I'm not 100% sure why. This could be something related to some version of the SDK, I need to look into it.